{% extends 'base.twig' %}

{% block main %}

	<div class="supp">
		<a href="controleur.php?page=elements&action=edit&id={{article.id_article}}">
			<i class="bi bi-pen"></i>
		</a>
	</div>
	<div class="supp">
		<a href="controleur.php?page=article&action=delete&id={{article.id_article}}">
			<i class="bi bi-trash3-fill"></i>
		</i>
	</a>
</div>


<h1>{{article.titre_article}}</h1>

<p class='chapo'>{{article.chapo_article}}</p>

<div class="texte">

	{% for element in elements %}

		{% if element.balise_elements == "video" %}

			<video controls>
				<source src="{{ element.src }}">
			</video>
		{% elseif element.balise_elements == "audio" %}
					<audio controls> <source src="{{ element.src }}"></audio>
			{% elseif element.balise_elements == "img" %}
				<{{element.balise_elements}} src="{{ element.src }}" alt="{{ element.alt }}" class="{{ element.style }}">
				{% else %}
					
				<{{element.balise_elements}} class="{{ element.style }}">{{ element.contenu }}</{{element.balise_elements}}>
		{% endif %}


	{% endfor %}
</div>
<p class='auteur'>{{article.auteur_article}}</p>{% endblock %}
