{% extends 'base.twig' %}


{% block main %}


	<h2>Modification d\'un contenu</h2>

	<a href="controleur.php?page=article&action=read&id={{ id }}">Retour a la page</a>
	<div class="redaction">
		{% for element in elements %}

			<form method="post" action="controleur.php?page=elements&action=update">
				<input type="hidden" name="id_elements" value="{{element.element_id}}">
				<input type="text" name="style" value="{{element.style}}" placeholder="style">
				<select name="balise" id="balise">
					<option value="p">paragraphe</option>
					<option value="h1">h1</option>
					<option value="h2">h2</option>
					<option value="h3">h3</option>
				</select>
				<textarea name="contenu">{{element.contenu}}</textarea>
				<input type="submit" value="Modifier">
			</form>
			<form method="post" action="controleur.php?page=elements&action=delete">
				<input type="hidden" name="id_article" value="{{id}}">
				<input type="hidden" name="element_id" value="{{element.id_elements}}">
				<input type="submit" value="Supprimer">
			</form>

		{% endfor %}

		<form method="post" action="controleur.php?page=elements&action=create">
			<input type="hidden" name="id_article" value="{{id}}">
			<select name="balise" id="balise">
				<option value="p">paragraphe</option>
				<option value="h1">h1</option>
				<option value="h2">h2</option>
				<option value="h3">h3</option>
			</select>
			<textarea name="contenu" placeholder="contenu"></textarea>
			<input type="submit" value="Créer">
		</form>
		<form action="controleur.php?page=elements&action=upload" method="post" enctype="multipart/form-data">
			<input type="hidden" name="id_article" value="{{id}}">
			<select name="balise" id="balise">
				<option value="img">Image</option>
				<option value="audio">Fichier Audio</option>
				<option value="video">Vidéo</option>
			</select>
			<input type="file" name="my_image">
			<input type="submit" name="submit" value="Upload">

		</form>
	</div>

{% endblock %}
